.content {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.grupe_2 {
	position: absolute;
	left: 310px;
}

.grupe_3 {
	position: absolute;
	left: 620px;
}

.input_tree {
	position: absolute;
	left: 85px;
}

#team_all {
	position: absolute;
	left: 60vw;
	top: 55vh;
	width: 500px;
	height: 300px;
}

.button_1 {
	position: absolute;
	left: 65vw;
	top: 10vh;
	width: 150px;
	height: 80px;
}

.btn {
	box-sizing: border-box;
	padding: 0 25px;

	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	width: 100%;
	height: 100%;

	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: rgb(255, 123, 0);
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;

	transition: box-shadow 0.2s;
}

.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}

.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn:active {
	background-color: #808080;
}

.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
